/* Created by: Katie
* Created on: February 2022
* This CSS file defines the style for dislikes.html
* ICS2O-Unit1-04-HTML-CSS
*/

body {
  background-color: palevioletred;
}

h1 {
  background-color: lightpink;
  color: mediumvioletred;
  padding: 30px;
  text-align: center;
}

p{
  background-color: darkmagenta;
  color: cornsilk;
  padding: 5px;
}

li {
  color: palegoldenrod;
}